{% extends "layout.html" %}

{% block customstyle %}
<link rel="stylesheet" href="static/student.css">
{% endblock %}

{% block body %}
    <h1>{{title}}-{{q}}</h1>
    <ul>
      {% for id,name in student_list %}
      <li><a href="/update_student?id={{id}}">{{name}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - <a href="/delete_student?id={{id}}">Delete</a></li>
      {% endfor %}
    </ul>
{% endblock %}

{% block headernav %}
<div id="nav">
    I am a special nav bar for students: <a href="new_student">New Student</a>
</div>
{% endblock %}
