{% extends "layout.html" %}

{% block customstyle %}
<link rel="stylesheet" href="static/student.css">
{% endblock %}

{% block body %}
    <h1>{{title}}</h1>
    <ul class="list-group">
      {% for student in student_list %}
      <li class="list-group-item"><a href="/update_student?id={{student.id}}">{{student.name}}</a><span class="pull-right"><a href="/delete_student?id={{student.id}}">Delete</a></span></li>
      {% endfor %}
    </ul>
{% endblock %}

{% block headernav %}
<div id="nav">
    I am a special nav bar for students: <a href="new_student">New Student</a>
</div>
{% endblock %}
